nBgc(num)
    for i in 1..num
        &:nth-child({i})
            border-bottom 0
            background-color rgba(i*20,i*5,i*9,i*0.1) 
    .box
        color white
        display flex
        align-items: center
        justify-content center
    
