<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>login</h1>
    <input type="text" id="captcha">
    <img src="/captcha" alt="">

    <script>
        function getCookie(name) {
            var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");
            console.log(arr,reg)
            if (arr = document.cookie.match(reg))
                return unescape(arr[2]);
            else
                return null;
        }
        document.getElementById('captcha')
            .addEventListener('change', function () {
                let code = this.value
                console.log(code)
                let captcha = getCookie("captcha")
                console.log(captcha)
                if(code !== captcha){
                    console.log("验证码错误")
                }
            })

    </script>
</body>

</html>